<div class="demo-layout-transparent mdl-layout mdl-js-layout ß">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">

      <span class="mdl-layout-title"> <h1>{{title}} </h1></span>
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <div class="mdl-layout__drawer" >
   <span class="mdl-layout-title">Days</span>
   <nav class="mdl-navigation">
     <a class="mdl-navigation__link" [routerLink]="['/']">Home</a>
     <!-- <a class="mdl-navigation__link" [routerLink]="['/day25-2015']">Day25 - 2015</a> -->
     <a class="mdl-navigation__link" [routerLink]="['/day1']">Day1</a>
     <a class="mdl-navigation__link" [routerLink]="['/day2']">Day2</a>
   </nav>
 </div>
 <main class="mdl-layout__content">
   <router-outlet></router-outlet>
  </main>
</div>
